@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300|Nunito:300,400,700');

$sans: 'Karla', sans-serif;
$font: 'Nunito', sans-serif;
$serif: 'Karma', serif;

$white: #FFFFFF;
$orange: #FF6600;
$purple: #CCB3D8;
$blue: #A7CBF2;
$yellow: #FFE98C;
$green: #A5C495;
$cream: #EFE9E3;
$pink: #efbfbd;
$dark: #261F1F;

$ease: all .4s ease;
$fast: all .2s ease-out;

body {
  margin: 0;
}

#navbar-icon {
  overflow: hidden;
  width: 100%;
  height: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-open-icon {
  display: block;
  margin: 20px 0 0 20px;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  &:hover {
    .line {
      background: $dark;
    }
  }
}

.line {
  position: absolute;
  left: 10px;
  height: 3.5px;
  width: 38px;
  border-radius: 3px;
  background: $orange;
}
.top {
  top: 10px;
}
.middle {
  top: 22px;
}
.bottom {
  top: 34px;
}

.nav-main {
  position: fixed;
  background: $blue;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 4;
  transition: $ease;
}

.close {
  opacity: 0;
  z-index: -10;
  position: absolute;
}
.nodisplay {
  display: none;
}

.nav {
  margin-top: 40px;
}
.nav-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  &:hover {
    .icon-line {
      background: $white;
    }
  }
}
.icon-line {
  position: absolute;
  top: 1em;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: $dark;
  transform: rotate(45deg);
}
.transform {
  transform: rotate(-45deg);
}

.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  overflow-y: scroll;
  a {
    font-family: $serif;
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    padding: 0.3em 0;
    &:hover {
         color:$yellow;
    }
  }
}
/*navlink hover effect*/
.slide-out {
	display: inline-block;
	position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 7px solid $white;
    transition: 0.4s;
    &:hover {
      width: 100%;
    }
  }
}
.slide-out:hover:after {
	width: 100%;
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  font-family: $sans;
  font-weight: 700;
  margin-bottom: 4em;
  span {
    padding-bottom: 15px;
    border-bottom: 3px solid $white;
  }
}
.nav-social {
  height: 100px;
  padding-top: 25px;
  margin-bottom: 70px;
  color: $white;
  i {
    padding: 30px;
    color: $dark;
    transition: $ease;
    font-size: 18px;
    &:hover {
      color: $white;
      transition: $ease;
      transform: scale(1.3);
    }
  }
}
