@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Karma:300|Nunito:300,400,700");
body {
  margin: 0;
}

#navbar-icon {
  overflow: hidden;
  width: 100%;
  height: 9%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.navbar-open-icon {
  display: block;
  margin: 20px 0 0 20px;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
}

.navbar-open-icon:hover .line {
  background: #261F1F;
}

.line {
  position: absolute;
  left: 10px;
  height: 3.5px;
  width: 38px;
  border-radius: 3px;
  background: #FF6600;
}

.top {
  top: 10px;
}

.middle {
  top: 22px;
}

.bottom {
  top: 34px;
}

.nav-main {
  position: fixed;
  background: #A7CBF2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.close {
  opacity: 0;
  z-index: -10;
  position: absolute;
}

.nodisplay {
  display: none;
}

.nav {
  margin-top: 40px;
}

.nav-close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.nav-close-icon:hover .icon-line {
  background: #FFFFFF;
}

.icon-line {
  position: absolute;
  top: 1em;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #261F1F;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.transform {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-links {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  overflow-y: scroll;
}

.nav-links a {
  font-family: "Karma", serif;
  font-size: 3em;
  letter-spacing: -1px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  padding: 0.3em 0;
}

.nav-links a:hover {
  color: #FFE98C;
}

/*navlink hover effect*/
.slide-out {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.slide-out::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 7px solid #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide-out::after:hover {
  width: 100%;
}

.slide-out:hover:after {
  width: 100%;
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin-bottom: 4em;
}

.nav-title span {
  padding-bottom: 15px;
  border-bottom: 3px solid #FFFFFF;
}

.nav-social {
  height: 100px;
  padding-top: 25px;
  margin-bottom: 70px;
  color: #FFFFFF;
}

.nav-social i {
  padding: 30px;
  color: #261F1F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
}

.nav-social i:hover {
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=main.css.map */